html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f6f8fa;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    overflow: hidden;
}

::selection {
    background-color: rgb(12, 23, 53);
    color: #eee;
}

header, .layout, footer {
    padding: 2rem 20rem;
}

header {
    display: flex;
    border-bottom: 1px solid black;
    padding-left: 10rem;
}

.layout {
    flex: 1;
    min-height: fit-content;
    display: flex;
    flex-direction: row;
}

aside {
    width: 302px;
    height: fit-content;
    position: sticky;
    top: 0;
}

footer {
    display: flex;
    align-items: flex-end;
}

h1,h2,h3,h4,h5,h6, a, p, span, ul {
    color:#333;
}

a {
    text-decoration: none;
}

header h1 {
    align-self: flex-start;
}

header nav {
    margin-left: auto;
    align-self: flex-end;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 128px;
}

.avatar {
    width: 300px;
    height: 300px;
    border: 1px solid #333;
    border-radius: 50%;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside h2 {
    margin: 20px 0 7px 0;
    font-weight: 600;
}

aside h3 {
    margin-bottom: 20px;
    font-weight: 500;
}

aside p {
    font-size: small;
    line-height: 24px;
    margin-bottom: 20px;
}

.intext-link {
    color: darkred;
}

.social-links {
    list-style: none;
    font-size: small;
    display: flex;
    gap: 7px;
}

aside ul {
    flex-direction: column;
    margin-bottom: 20px;
}

.social-link {
    display: inline-flex;
    align-items: center;
    gap: 0.3rem;
}

.social-link:hover {
  opacity: 0.7;
}

.social-link svg {
    height: 1em;
    width: 1em;
    fill: currentColor;
}

footer ul {
    margin-left: auto;
    flex-direction: row;
    gap: 6px;
}