---
import { MathTable } from '../../components/alphabet/MathTable';
import Layout from "../../layouts/Layout.astro";
---

<Layout>
    <h1>Alfabeto matemático</h1>
    <section class="section-math-article">
        <MathTable client:load/>
    </section>
</Layout>